---
import SubPageLayout from '~/layouts/SubPageLayout.astro';

import { getCurrentTranslations, getLocaleStaticPaths } from '~/i18n';
import ButtonLink from '~/components/ButtonLink.astro';

export const getStaticPaths = getLocaleStaticPaths;
const t = getCurrentTranslations(Astro.params);
---

<SubPageLayout title={t.site.about}>
  <div class="container">
    <h2 class="fullname">楼朝立</h2>
    <div class="resume">
      <ButtonLink href="/resume.pdf" title={t.site.resume}>
        {t.site.resume}
      </ButtonLink>
    </div>
    <article class="intro">
      <h3>{t.about.heading}</h3>
      <p>{t.about.intro1}</p>
      <p>{t.about.intro2}</p>
    </article>
  </div>
</SubPageLayout>

<style>
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;

    line-height: 2;
  }
  .fullname {
    font-size: 2rem;
    letter-spacing: 10px;
  }
  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    column-gap: 5rem;
    row-gap: 1rem;
  }
  .resume {
    justify-self: flex-end;
  }
  @media (max-width: 28em) {
    aside {
      grid-column: 1 / 3;
      /* align-self: stretch; */
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .container {
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
    }
    .intro {
      grid-column: 1 / 3;
    }
    .resume {
      justify-self: flex-end;
    }
  }
</style>
