---
import SubPageLayout from '~/layouts/SubPageLayout.astro';
import GameCard from '~/components/GameCard.astro';
import cquhorrorCard from '~/images/cqu-horror/cquhorrorCard.webp';
import sbCard from '~/images/sb/SBCard.webp';
import intoSoilCard from '~/images/into-soil/IntoSoilCard.webp';
import beltRushCard from '~/images/belt-rush/BeltRushCard.webp';
import touchexCard from '~/images/touchex/TouchExCard.webp';
import deadZoneCard from '~/images/dead-zone/DeadZoneCard.jpg';
import poopyBirdCard from '~/images/poopy-bird/PoopyBirdCard.jpg';
import crashPunkCard from '~/images/crash-punk/CrashPunkCard.jpg';
import youchatCard from '~/images/youchat/YouchatCard.avif';
import livezoneCard from '~/images/live-zone/live-zone-card.jpg';
import {
  getCurrentLocale,
  getCurrentTranslations,
  getLocaleStaticPaths,
  getLocaleUrl,
} from '~/i18n';

export const getStaticPaths = getLocaleStaticPaths;

const locale = getCurrentLocale(Astro.params);

const t = getCurrentTranslations(Astro.params);

function localizePath(path: string) {
  return getLocaleUrl(locale, path);
}
---

<SubPageLayout title={t.site.games}>
  <div class="games container">
    <GameCard
      gameKey="cquHorror"
      imgSrc={cquhorrorCard}
      href={localizePath('/games/cquhorror')}
    />
    <GameCard gameKey="sb" imgSrc={sbCard} href={localizePath('/games/sb')} />
    <GameCard
      gameKey="intoSoil"
      imgSrc={intoSoilCard}
      href={localizePath('/games/intosoil')}
    />
    <GameCard
      gameKey="beltRush"
      imgSrc={beltRushCard}
      href={localizePath('/games/beltrush')}
    />
    <GameCard
      gameKey="touchex"
      imgSrc={touchexCard}
      href={localizePath('/games/touchex')}
    />
    <GameCard
      gameKey="deadzone"
      imgSrc={deadZoneCard}
      href={localizePath('/games/deadzone')}
    />
    <GameCard
      gameKey="poopybird"
      imgSrc={poopyBirdCard}
      href={localizePath('/games/poopybird')}
    />
    <GameCard
      gameKey="crashpunk"
      imgSrc={crashPunkCard}
      href={localizePath('/games/crashpunk')}
    />
    <GameCard
      gameKey="youchat"
      imgSrc={youchatCard}
      href={localizePath('/games/youchat')}
    />
    <GameCard
      gameKey="livezone"
      imgSrc={livezoneCard}
      href={localizePath('/games/livezone')}
    />
  </div>
</SubPageLayout>

<style>
  .games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  @media (max-width: 60em) {
    .games {
      max-width: 40rem;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
