---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';

import BaseLayout from '~/layouts/BaseLayout.astro';
import MainHero from '~/components/MainHero.astro';

import GameCardFeatured from '~/components/GameCardFeatured.astro';
import cquhorrorCard from '~/images/cqu-horror/cquhorrorCard.webp';
import intoSoilCard from '~/images/into-soil/IntoSoilCard.webp';
import poopyBirdCard from '~/images/poopy-bird/PoopyBirdCard.jpg';
import crashPunkCard from '~/images/crash-punk/CrashPunkCard.jpg';
import youchatCard from '~/images/youchat/YouchatCard.avif';
import livezoneCard from '~/images/live-zone/live-zone-card.jpg';

import BlogCard from '~/components/BlogCard.astro';
import ToolCard from '~/components/ToolCard.astro';

import {
  getCurrentLocale,
  getLocaleStaticPaths,
  getTranslations,
  getLocaleUrl,
} from '~/i18n';
import PageSection from '~/components/PageSection.astro';
import ButtonLink from '~/components/ButtonLink.astro';

const locale = getCurrentLocale(Astro.params);
export const getStaticPaths = getLocaleStaticPaths;
const t = getTranslations(locale);

const allPosts = await getCollection('posts');
const firstPosts = allPosts
  .sort(function compareDate(a, b) {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  })
  .slice(0, 5);

function localizePath(path: string) {
  return getLocaleUrl(locale, path);
}
---

<BaseLayout title={t.site.home}>
  <main>
    <MainHero />

    <!-- 作品 -->
    <PageSection heading={t.homepage.workHeading}>
      <ButtonLink slot="links" href={localizePath('/games')} title="全部游戏">
        {t.homepage.allGames}
      </ButtonLink>
      <div class="works">
        <GameCardFeatured
          isSpecial
          imgSrc={cquhorrorCard}
          href={localizePath('/games/cquhorror')}
          gameTitle={t.games.cquHorror.title}
        />
        <GameCardFeatured
          imgSrc={intoSoilCard}
          href={localizePath('/games/intosoil')}
          gameTitle={t.games.intoSoil.title}
        />
        <GameCardFeatured
          imgSrc={poopyBirdCard}
          href={localizePath('/games/poopybird')}
          gameTitle={t.games.poopybird.title}
        />
        <GameCardFeatured
          imgSrc={crashPunkCard}
          href={localizePath('/games/crashpunk')}
          gameTitle={t.games.crashpunk.title}
        />
        <GameCardFeatured
          imgSrc={youchatCard}
          href={localizePath('/games/youchat')}
          gameTitle={t.games.youchat.title}
        />
      </div>
    </PageSection>

    <PageSection heading={t.homepage.blogHeading}>
      <ButtonLink slot="links" href={localizePath('/blog')} title="更多博文">
        {t.homepage.morePosts}
      </ButtonLink>
      <ul class="posts">
        {
          firstPosts.map((post) => (
            <li>
              <BlogCard
                url={'/posts/' + post.id}
                title={post.data.title}
                pubDate={post.data.pubDate}
                desc={post.data.description}
              />
            </li>
          ))
        }
      </ul>
    </PageSection>

    <PageSection heading={t.homepage.toolsHeading}>
      <ButtonLink slot="links" href={localizePath('/tools')} title="更多工具">
        {t.homepage.moreTools}
      </ButtonLink>
      <div class="tools">
        <ToolCard
          cardTitle={t.tools.namesFight.title}
          href={getLocaleUrl(locale, '/tools/namefight')}
          icon="mdi:sword-fight"
        />
        <ToolCard
          cardTitle={t.tools.pomodoro.title}
          href={getLocaleUrl(locale, '/tools/pomodoro')}
          icon="mdi:alarm"
        />
        <ToolCard
          cardTitle={t.tools.random.title}
          href={getLocaleUrl(locale, '/tools/random')}
          icon="mdi:dice"
        />
        <ToolCard
          cardTitle={t.tools.spacecleaner.title}
          href={getLocaleUrl(locale, '/tools/spacecleaner')}
          icon="mdi:keyboard-space"
        />
        <ToolCard
          cardTitle={t.tools.squid.title}
          href={getLocaleUrl(locale, '/tools/squid')}
          icon="squid"
        />
      </div>
    </PageSection>
  </main>
</BaseLayout>

<style>
  .works {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2rem;
  }
  .posts {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .tool-section {
    background-color: var(--color-surface);
    border-radius: 1rem;
    padding: 2rem;
  }
  .tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
  .more-tools {
    text-align: right;
  }

  @media (max-width: 48em) {
    .page-section {
      padding-bottom: 3rem;
    }
    .works {
      grid-template-columns: repeat(7, 1fr);
      gap: 0.5rem;
    }
    @media (width <= 425px) {
      .tools {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>
