---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

import SubPageLayout from "../layouts/SubPageLayout.astro";
import GameCard from "../components/GameCard.astro";

import cquhorrorCard from "../images/cqu-horror/cquhorrorCard.webp";
import sbCard from "../images/sb/SBCard.webp";
import intoSoilCard from "../images/into-soil/IntoSoilCard.webp";
import beltRushCard from "../images/belt-rush/BeltRushCard.webp";
import touchexCard from "../images/touchex/TouchExCard.webp";

changeLanguage("zh");
---

<SubPageLayout titleKey="site.games">
  <div class="container games">
    <GameCard
      gameKey="cquHorror"
      imgSrc={cquhorrorCard}
      href={localizePath("/games/cquhorror")}
    />
    <GameCard
      gameKey="sb"
      imgSrc={sbCard}
      href={localizePath("/games/sb")}
    />
    <GameCard
      gameKey="intoSoil"
      imgSrc={intoSoilCard}
      href={localizePath("/games/intosoil")}
    />
    <GameCard
      gameKey="beltRush"
      imgSrc={beltRushCard}
      href={localizePath("/games/beltrush")}
    />
    <GameCard
      gameKey="touchex"
      imgSrc={touchexCard}
      href={localizePath("/games/touchex")}
    />
  </div>
</SubPageLayout>

<style>
  .container {
    max-width: 72rem;
  }
  .games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  @media (max-width: 60em) {
    .games {
      max-width: 40rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  /* @media (max-width: 40em) {
    .games {
      padding-left: 6rem;
      padding-right: 6rem;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  } */
</style>
