---
import {
  getCurrentLocale,
  getLocaleStaticPaths,
  getTranslations,
  getLocaleUrl,
} from '~/i18n';

export interface Props {
  url: string;
  title: string;
  pubDate: Date;
  desc: string;
}

const locale = getCurrentLocale(Astro.params);

const { url, title, pubDate, desc } = Astro.props;
---

<a href={url} class="link--card" title={title}>
  <article class="card">
    <div class="card-header mb-s">
      <h3 class="card-title">{title}</h3>
      <p class="pub-date">
        <time>{pubDate.toLocaleDateString(locale)}</time>
      </p>
    </div>
    <p>{desc}</p>
  </article>
</a>

<style lang="scss">
  .card {
    display: block;

    background-color: var(--color-surface);
    padding: 1.5rem;

    transition: box-shadow 0.3s;
  }
  .card-header {
    display: flex;
    align-items: center;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .pub-date {
    color: var(--color-primary-dark);
    margin-left: auto;
  }

  @media (max-width: 28em) {
    .card-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    .pub-date {
      margin-left: 0;
    }
  }
</style>
