---
export interface Props {
  url: string;
  title: string;
  pubDate: Date;
  desc: string;
}

const { url, title, pubDate, desc } = Astro.props;
---

<a href={url} class="link--card" title={title}>
  <article class="card">
    <div class="card-header">
      <h3 class="card-title">{title}</h3>
      <p class="pub-date"><time>{pubDate.toLocaleDateString()}</time></p>
    </div>
    <p>{desc}</p>
  </article>
</a>

<style lang="scss">
  .card {
    display: block;

    background-color: var(--color-surface);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
    padding: 2rem 3rem;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    }
  }
  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .card-title {
    font-size: var(--font-size-h4);
  }
  .pub-date {
    color: var(--color-primary-dark);
    margin-left: auto;
  }

  @media (max-width: 28em) {
    .card-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    .pub-date {
      margin-left: 0;
    }
  }
</style>
