---
import {
  getCurrentLocale,
  getLocaleStaticPaths,
  getTranslations,
  getLocaleUrl,
} from '~/i18n';
import HoverArrowText from './HoverArrowText.astro';

export interface Props {
  url: string;
  title: string;
  pubDate: Date;
  desc: string;
}

const locale = getCurrentLocale(Astro.params);

const { url, title, pubDate, desc } = Astro.props;
---

<a href={url} class="link--card" title={title}>
  <article class="card">
    <header class="card-header mb-s">
      <h3 class="card-title">
        <HoverArrowText>
          {title}
        </HoverArrowText>
      </h3>
      <p class="pub-date">
        <time>{pubDate.toLocaleDateString(locale)}</time>
      </p>
    </header>
    <p>{desc}</p>
  </article>
</a>

<style>
  .card {
    display: block;
    padding: 1.5rem;

    border: 2px solid var(--color-on-background-light);
  }
  .card-header {
    display: flex;
    align-items: center;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .pub-date {
    color: var(--color-on-background-light);
    margin-left: auto;
  }

  @media (max-width: 28em) {
    .card-header {
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
</style>
