---
export interface Props {
  href: string;
  imgSrc: string;
  title: string;
}

const { href, imgSrc, title } = Astro.props;
---

<a href={href} class="link--card mb-s" title={title}>
  <figure>
    <img src={imgSrc} alt={title} class="work-img" />
    <figcaption class="work-title">{title}</figcaption>
  </figure>
</a>

<style lang="scss">
  .work-img {
    display: block;
    aspect-ratio: 1 / 1;
    width: 100%;
    margin-bottom: 0.5rem;

    border-radius: 0.5rem;

    opacity: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
  .work-title {
    font-family: serif;
    font-size: 1.5rem;
    text-align: center;
  }
</style>
