---
import { Image } from "astro:assets";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon/components";
import GameLayout from "../../../layouts/GameLayout.astro";
import banner from "../../../images/poopy-bird/PoopyBirdBanner.jpg";
import icon1 from "../../../images/poopy-bird/poop-black.svg";
import icon2 from "../../../images/poopy-bird/poop-white.svg";

changeLanguage("en");

const gameKey = "poopybird";
const surfaceColor = "#eeeeee";
---

<GameLayout
  gameKey={gameKey}
  bannerSrc={banner}
  gameLink="https://uma-studio.itch.io/poopy-bird"
  srcLink="https://gitee.com/uma-studio/ggj2024"
  pubDate="2024-1-28"
  textColor="#222222"
  backgroundColor="white"
  foregroundColor="white"
  primaryColor="#3dc1ab"
  primaryDarkColor="#26aa94"
  onPrimaryColor="white"
  surfaceColor={surfaceColor}>
  <p>
    {t(`games.${gameKey}.intro`)}
  </p>
  <div slot="info-main">
    <section>
      <header class="flex-gap-s mb-s">
        <Image
          class="heading-icon"
          src={icon1}
          alt="Tape"
        />
        <h2>{t("games.howToPlay")}</h2>
      </header>
      <p>
        {t(`games.${gameKey}.howTo`)}
      </p>
    </section>
    <section>
      <header class="flex-gap-s mb-s">
        <Image
          class="heading-icon"
          src={icon2}
          alt="Triangle"
        />
        <h2>{t("games.note")}</h2>
      </header>
      <p>
        {t(`games.${gameKey}.note`)}
      </p>
    </section>
  </div>
  <span slot="platforms">
    <Icon name="mdi:microsoft-windows" title="Windows" />
    <Icon name="simple-icons:webgl" title="Web" />
  </span>
  <span slot="language">English</span>
  <ul slot="team">
    <Trans i18nKey={`games.${gameKey}.team`}>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </Trans>
  </ul>
</GameLayout>

<style define:vars={{ surfaceColor }}>
  .video {
    background-color: var(--surfaceColor);
  }
</style>
